In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../DATA/stock_market_data.csv')

In [3]:
df.head()

,Price,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
0,Ticker,AAPL,MSFT,TSLA,AAPL,MSFT,TSLA,AAPL,MSFT,TSLA,AAPL,MSFT,TSLA,AAPL,MSFT,TSLA
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-02,40.34188461303711,79.05035400390625,21.368667602539062,40.3512542876815,79.3814555361966,21.474000930786133,39.63930910102925,78.63648059701545,20.733333587646484,39.85008389872191,79.21590477005142,20.799999237060547,102223600,22483800,65283000
3,2018-01-03,40.33486557006836,79.41828155517578,21.149999618530273,40.87819243452449,79.56544097743182,21.683332443237305,40.27163633682215,79.06878845273889,21.036666870117188,40.40512384715967,79.15156036504732,21.399999618530273,118071600,26061400,67822500
4,2018-01-04,40.522220611572266,80.11727142333984,20.974666595458984,40.62526561027816,80.62312314498602,21.23666763305664,40.299739040812426,79.62061891943647,20.3786678314209,40.40746530419806,79.63901033797488,20.857999801635742,89738400,21912000,149194500

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2038 entries, 0 to 2037
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Price     2038 non-null   object
 1   Close     2037 non-null   object
 2   Close.1   2037 non-null   object
 3   Close.2   2037 non-null   object
 4   High      2037 non-null   object
 5   High.1    2037 non-null   object
 6   High.2    2037 non-null   object
 7   Low       2037 non-null   object
 8   Low.1     2037 non-null   object
 9   Low.2     2037 non-null   object
 10  Open      2037 non-null   object
 11  Open.1    2037 non-null   object
 12  Open.2    2037 non-null   object
 13  Volume    2037 non-null   object
 14  Volume.1  2037 non-null   object
 15  Volume.2  2037 non-null   object
dtypes: object(16)
memory usage: 254.9+ KB

In [5]:
df.describe()

,Price,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
count,2038,2037,2037,2037,2037,2037,2037,2037,2037,2037,2037,2037,2037,2037,2037,2037
unique,2038,2014,2014,2005,2035,2036,1978,2037,2036,1992,2036,2035,1977,2033,2031,2031
top,Ticker,237.64962768554688,131.62493896484375,207.8300018310547,275.42999267578125,286.4996930408869,198.60000610351562,AAPL,475.8599853515625,23.46666717529297,278.1300048828125,479.760009765625,24.0,90956700,26458000,105127500
freq,1,2,2,2,2,2,3,1,2,3,2,2,4,2,2,2

In [6]:
df.columns

Index(['Price', 'Close', 'Close.1', 'Close.2', 'High', 'High.1', 'High.2',
       'Low', 'Low.1', 'Low.2', 'Open', 'Open.1', 'Open.2', 'Volume',
       'Volume.1', 'Volume.2'],
      dtype='object')

In [7]:
df.isnull().any(axis=1).sum()
df=df.dropna()

In [8]:
df = df[df['Price'] != 'Ticker']

In [9]:
df.head()

,Price,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
2,2018-01-02,40.34188461303711,79.05035400390625,21.368667602539062,40.3512542876815,79.3814555361966,21.474000930786133,39.63930910102925,78.63648059701545,20.733333587646484,39.85008389872191,79.21590477005142,20.799999237060547,102223600,22483800,65283000
3,2018-01-03,40.33486557006836,79.41828155517578,21.149999618530273,40.87819243452449,79.56544097743182,21.683332443237305,40.27163633682215,79.06878845273889,21.036666870117188,40.40512384715967,79.15156036504732,21.399999618530273,118071600,26061400,67822500
4,2018-01-04,40.522220611572266,80.11727142333984,20.974666595458984,40.62526561027816,80.62312314498602,21.23666763305664,40.299739040812426,79.62061891943647,20.3786678314209,40.40746530419806,79.63901033797488,20.857999801635742,89738400,21912000,149194500
5,2018-01-05,40.983577728271484,81.11056518554688,21.10533332824707,41.07022757766769,81.31290584615176,21.14933204650879,40.526904291139054,80.41157208989713,20.799999237060547,40.618238978565536,80.62311196696939,21.107999801635742,94640000,23407100,68868000
6,2018-01-08,40.83134078979492,81.1933364868164,22.42733383178711,41.12642116433384,81.4692568432421,22.468000411987305,40.73297709146542,80.56792309360482,21.03333282470703,40.83134078979492,81.11975678951006,21.066667556762695,82271200,22113000,147891000

In [10]:
df = df.rename(columns={'Price':'Date'})
df.head()

,Date,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
2,2018-01-02,40.34188461303711,79.05035400390625,21.368667602539062,40.3512542876815,79.3814555361966,21.474000930786133,39.63930910102925,78.63648059701545,20.733333587646484,39.85008389872191,79.21590477005142,20.799999237060547,102223600,22483800,65283000
3,2018-01-03,40.33486557006836,79.41828155517578,21.149999618530273,40.87819243452449,79.56544097743182,21.683332443237305,40.27163633682215,79.06878845273889,21.036666870117188,40.40512384715967,79.15156036504732,21.399999618530273,118071600,26061400,67822500
4,2018-01-04,40.522220611572266,80.11727142333984,20.974666595458984,40.62526561027816,80.62312314498602,21.23666763305664,40.299739040812426,79.62061891943647,20.3786678314209,40.40746530419806,79.63901033797488,20.857999801635742,89738400,21912000,149194500
5,2018-01-05,40.983577728271484,81.11056518554688,21.10533332824707,41.07022757766769,81.31290584615176,21.14933204650879,40.526904291139054,80.41157208989713,20.799999237060547,40.618238978565536,80.62311196696939,21.107999801635742,94640000,23407100,68868000
6,2018-01-08,40.83134078979492,81.1933364868164,22.42733383178711,41.12642116433384,81.4692568432421,22.468000411987305,40.73297709146542,80.56792309360482,21.03333282470703,40.83134078979492,81.11975678951006,21.066667556762695,82271200,22113000,147891000

In [11]:
df['Date'] = pd.to_datetime(df['Date'])

In [12]:
(df.dtypes)

Date        datetime64[ns]
Close               object
Close.1             object
Close.2             object
High                object
High.1              object
High.2              object
Low                 object
Low.1               object
Low.2               object
Open                object
Open.1              object
Open.2              object
Volume              object
Volume.1            object
Volume.2            object
dtype: object

In [13]:
df['Date']

2      2018-01-02
3      2018-01-03
4      2018-01-04
5      2018-01-05
6      2018-01-08
          ...
2033   2026-02-02
2034   2026-02-03
2035   2026-02-04
2036   2026-02-05
2037   2026-02-06
Name: Date, Length: 2036, dtype: datetime64[ns]

In [14]:
df=df.set_index('Date')

In [15]:
df

,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
Date,,,,,,,,,,,,,,,
2018-01-02,40.34188461303711,79.05035400390625,21.368667602539062,40.3512542876815,79.3814555361966,21.474000930786133,39.63930910102925,78.63648059701545,20.733333587646484,39.85008389872191,79.21590477005142,20.799999237060547,102223600,22483800,65283000
2018-01-03,40.33486557006836,79.41828155517578,21.149999618530273,40.87819243452449,79.56544097743182,21.683332443237305,40.27163633682215,79.06878845273889,21.036666870117188,40.40512384715967,79.15156036504732,21.399999618530273,118071600,26061400,67822500
2018-01-04,40.522220611572266,80.11727142333984,20.974666595458984,40.62526561027816,80.62312314498602,21.23666763305664,40.299739040812426,79.62061891943647,20.3786678314209,40.40746530419806,79.63901033797488,20.857999801635742,89738400,21912000,149194500
2018-01-05,40.983577728271484,81.11056518554688,21.10533332824707,41.07022757766769,81.31290584615176,21.14933204650879,40.526904291139054,80.41157208989713,20.799999237060547,40.618238978565536,80.62311196696939,21.107999801635742,94640000,23407100,68868000
2018-01-08,40.83134078979492,81.1933364868164,22.42733383178711,41.12642116433384,81.4692568432421,22.468000411987305,40.73297709146542,80.56792309360482,21.03333282470703,40.83134078979492,81.11975678951006,21.066667556762695,82271200,22113000,147891000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2026-02-02,270.010009765625,423.3699951171875,421.80999755859375,270.489990234375,430.739990234375,427.1499938964844,259.2099914550781,422.25,414.5,260.0299987792969,430.239990234375,421.2900085449219,73913400,42219900,58739500
2026-02-03,269.4800109863281,411.2099914550781,421.9599914550781,271.8800048828125,422.04998779296875,428.55999755859375,267.6099853515625,408.55999755859375,413.69000244140625,269.20001220703125,422.010009765625,424.2699890136719,64394700,61424100,56886500
2026-02-04,276.489990234375,414.19000244140625,406.010009765625,278.95001220703125,419.79998779296875,423.8999938964844,272.2900085449219,409.239990234375,399.17999267578125,272.2900085449219,411.0,420.4599914550781,90545700,45012400,74606900
2026-02-05,275.9100036621094,393.6700134277344,397.2099914550781,279.5,408.29998779296875,402.1000061035156,273.2300109863281,392.32000732421875,387.5299987792969,278.1300048828125,407.44000244140625,397.0199890136719,52977400,66289200,72819800
2026-02-06,278.1199951171875,401.1400146484375,411.1099853515625,280.9100036621094,401.7900085449219,414.54998779296875,276.92999267578125,392.9200134277344,397.75,277.1199951171875,399.1700134277344,400.8699951171875,50420700,53403600,62559600